{% extends "layouts/master.njk" %}
{% block content %}
  <section class="section" id="baslangic">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
            <form class="animateIt form-inline" data-effect="fade">
              <div class="form-group form-group-lg">
                <select class="form-control">
                  {% for item in kategoriler %}
                  <option value="">{{ item.title }}</option>}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group form-group-lg">
                <input type="text" class="form-control" placeholder="Aday Öner">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section has-svg section-primary" id="intro">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h1>Altın Pişmaniye Ödülleri</h1>
              <p>Türkiye'nin en kapsamlı ödül töreni.</p>
            </div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-bottom" width="100%" height="100" viewBox="0 0 99 100" preserveAspectRatio="none"><path d="M0 0 L100 0 L50 100 Z"></path></svg>
    </div>
  </section>
  <section class="section has-svg" id="hakkimizda">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h1 class="animateIt" data-effect="fade-up">Hakkımızda</h1>
              <p class="animateIt" data-effect="fade-up" data-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-xs-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-bottom" width="100%" height="100" viewBox="0 0 99 100" preserveAspectRatio="none"><path d="M0 0 L100 0 L50 100 Z"></path></svg>
    </div>
  </section>
  <section class="section has-svg section-alt" id="sponsorlar">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h1 class="animateIt" data-effect="fade-up">Sponsorlar</h1>
              <p class="animateIt" data-effect="fade-up" data-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="carousel owl-carousel">
              <div class="carousel-inner" id="sponsor-carousel">
                {% for item in sponsorlar %}
                <div class="item">
                  <a href="#" title="{{ item.title }}">
                    <img src="assets/images/{{ item.img }}" alt="{{ item.title }}">
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-bottom" width="100%" height="100" viewBox="0 0 99 100" preserveAspectRatio="none"><path d="M0 0 L100 0 L50 100 Z"></path></svg>
    </div>
  </section>
  <section class="section has-svg" id="kategoriler">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h1 class="animateIt" data-effect="fade-up">Kategoriler</h1>
              <p class="animateIt" data-effect="fade-up" data-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container mcs-horizontal-example" style="overflow-x: auto;">
      {% for item in kategoriler %}
        {% if (loop.index%2 != 0) %}
        <div class="item-col">
        {% endif %}
          <a href="#">
            <img src="assets/images/{{ item.img }}" alt="{{ item.title }}">
            <span>{{ item.title }}</span>
          </a>
        {% if (loop.index%2 == 0) %}
        </div>
        {% endif %}
      {% endfor %}
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-bottom" width="100%" height="100" viewBox="0 0 99 100" preserveAspectRatio="none"><path d="M0 0 L100 0 L50 100 Z"></path></svg>
    </div>
  </section>
  <section class="section has-svg section-alt" id="kurallar">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h1 class="animateIt" data-effect="fade-up">Kurallar</h1>
              <p class="animateIt" data-effect="fade-up" data-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="row">
          {% for item in kurallar %}
          <div class="col-xs-3 text-center">
            <div class="animateIt" data-effect="{{ item.animation }}" data-delay="{{ item.delay }}">
              <p class="h4"><strong>{{ item.title }}</strong></p>
              <p>{{ item.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-bottom" width="100%" height="100" viewBox="0 0 99 100" preserveAspectRatio="none"><path d="M0 0 L100 0 L50 100 Z"></path></svg>
    </div>
  </section>
  <section class="section has-svg" id="gonulluluk">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            <a href="#" class="btn">Gönüllü Ol</a>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-bottom" width="100%" height="100" viewBox="0 0 99 100" preserveAspectRatio="none"><path d="M0 0 L100 0 L50 100 Z"></path></svg>
    </div>
  </section>
  <section class="section has-svg section-primary" id="sayilar">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="list-inline">
              {% for item in sayilar %}
              <li>
                <div class="chart" data-percent="{{ item.percentage }}" data-scale-color="#ffb400">
                  <span class="percent">{{ item.percentage }}%</span>
                </div>
                <div class="chart-label">{{ item.title }}</div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
