  <footer class="site-footer">
    <div class="wrapper">
      <div class="footer-top" id="iletisim">
        <div class="container-fluid">
          <div class="row">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <a href="#" class="btn btn-block">Tanıtım Dosyası</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="widget">
                <div class="widget-header">
                  <h5 class="widget-title">Hakkımızda</h5>
                </div>
                <div class="widget-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="widget">
                <div class="widget-header">
                  <h5 class="widget-title">Hızlı Erişim</h5>
                </div>
                <div class="widget-body">
                  <ul class="list-unstyled list-link">
                    <li>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="#">Hakkımızda</a>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="#">Vizyon &amp; Misyon</a>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="#">Değerlerimiz</a>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="#">Kadromuz</a>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="#">Fotoğraf Galerisi</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="widget">
                <div class="widget-header">
                  <h5 class="widget-title">İletişim</h5>
                </div>
                <div class="widget-body">
                  <ul class="list-unstyled list-address">
                    <li>
                      <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      <span class="text">66 South Street, <br>Window 6 Wonderland,/span>
                    </li>
                    <li>
                      <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                      <span class="text">+440 875369208</span>
                    </li>
                    <li>
                      <span class="icon"><i class="fa fa-fax" aria-hidden="true"></i></span>
                      <span class="text">+440 353363114</span>
                    </li>
                    <li>
                      <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      <a href="#" class="text">freepik@sitename.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
