  <header class="site-header" id="header">
    <div class="navbar wrapper" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Menüyü görüntüle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#baslangic">
            <img src="assets/images/logo.png" alt="{{ siteName }}">
            <span class="sr-only">{{ siteName }}</span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#hakkimizda">Hakkımızda</a></li>
            <li><a href="#sponsorlar">Sponsorlar</a></li>
            <li><a href="#kategoriler">Kategoriler</a></li>
            <li><a href="#kurallar">Kurallar</a></li>
            <li><a href="#gonulluluk">Gönüllüler</a></li>
            <li><a href="#letisim">İletişim</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
